<div class="container">
  <h1>Twitter: because your words are important...</h1>
  <% if logged_in? %>
    <nav id="logout">
      <ul>
        <li><a href="/sign_out">Logout</a></li>
      </ul>
    </nav>
  <div id="tweet_display">
    <% if @current_tweet %>
      <%= erb :_tweet_content %>
    <% end %>
  </div>
    <%= erb :_make_tweet %>
  <% else %>
   <h3><a id="sign-in" href="/sign_in">Sign in through twitter</a></h3>
  <% end %> 

 


  
</div>
